n8n_agents/V1 - Writing Agent With Stats (Gemini 2.5 Pro).json
{
  "name": "Writing Agent With Stats (GEMINI)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1184,
        -272
      ],
      "id": "8a195fec-6622-4523-95b4-1f36692bbaa6",
      "name": "When chat message received",
      "webhookId": "852bfcf1-f053-4c69-bbba-8b8757f13c44"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/tools/glossary/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3248,
        -272
      ],
      "id": "214b0f6c-4f99-403b-8628-e091781691a5",
      "name": "HTTP Request Glossay1"
    },
    {
      "parameters": {
        "toolDescription": "Call this agent if you have one or more Unrecognized Technical Term (UTT) to obtain a plain language definition.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a \"Structured Medical Lexicographer\" who processes lists of terms in batches. Your sole purpose is to provide a plain language definition for each term in a given list understandable for layperson in the context of this abstract. You MUST always respond with a JSON array of objects, with one object for each term from the input list.\n\n### TASK ###\nFor **each term** in the input list, create a corresponding JSON object with its plain language definition and a self-assessed confidence score.\n\n**RULES:**\n1.  **Definition:** Must be brief (1-2 sentences) and easy for a patient to understand.\n2.  **Confidence Score:** Rate your confidence in the accuracy of your definition on a scale of 0.0 (no confidence) to 1.0 (very high confidence).\n3.  **Reasoning:** Briefly explain your confidence score (e.g., \"Common term\" or \"Specific drug name, definition based on context\").\n4.  **Failure Case:** If you cannot define a term, you MUST set its `status` to \"not_found\" and its `definition` to null.\n5.  **Output Format:** Your final output MUST be a single, valid JSON array. The array must contain exactly one object for each term in the input list.\n\n**ABSTRACT:**\n{{ $('When chat message received').item.json.chatInput }}\n\n### EXAMPLE ###\nIf the input is `[\"cardiomyopathy\", \"glixarfinab\"]`, the output should look like this:\n[\n  {\n    \"term\": \"cardiomyopathy\",\n    \"status\": \"success\",\n    \"definition\": \"A disease of the heart muscle that makes it harder for the heart to pump blood to the rest ofthe body.\",\n    \"confidence_reasoning\": \"Common and well-documented medical term.\"\n  },\n  {\n    \"term\": \"glixarfinab\",\n    \"status\": \"not_found\",\n    \"definition\": null,\n    \"confidence_reasoning\": \"This appears to be a fictional or highly experimental drug name with no public information available.\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3536,
        -64
      ],
      "id": "da1d8ccb-0f55-472e-9947-a58b98c87cbb",
      "name": "Unrecognized Technical Terms Tool1",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=### CONTEXT ###\n1.  **ORIGINAL_ABSTRACT:** The technical abstract, which will contain clues about the quality of the evidence in its \"Discussion\" or \"Conclusions\" sections.\n2.  **LIMITATIONS_GUIDE:** A structured JSON object containing the exact plain language wording you MUST use. It has two parts:\n    - `certainty_wording`: Maps GRADE judgments to sentence starters.\n    - `reason_wording`: Maps technical reasons to plain language explanations.\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').item.json.chatInput }}\"\n\n**LIMITATIONS_GUIDE:**\n{\n  \"explanation_of_limitations_of_evidence\": {\n    \"title\": \"Guidance for writing a Cochrane Plain language summary\",\n    \"columns\": [\n      \"GRADE judgement\",\n      \"Explanation of limitations of the evidence\"\n    ],\n    \"rows\": [\n      {\n        \"GRADE judgement\": \"High certainty\",\n        \"Explanation\": \"We are confident that ...\"\n      },\n      {\n        \"GRADE judgement\": \"Moderate certainty\",\n        \"Explanation\": \"We are moderately confident in the evidence because... OR Our confidence in the evidence is only moderate because of concerns about ... followed by the main reasons for downgrading the evidence (see table below).\"\n      },\n      {\n        \"GRADE judgement\": \"Low certainty\",\n        \"Explanation\": \"We have little confidence in the evidence because ... followed by the main reasons for downgrading the evidence (see table below).\"\n      },\n      {\n        \"GRADE judgement\": \"Very low certainty\",\n        \"Explanation\": \"We are not confident in the evidence because ... followed by the main reasons for downgrading the evidence (see table below).\"\n      }\n    ]\n  }\n}\n\n{\n  \"suggested_wording_for_grade_criteria\": {\n    \"reasons_for_downgrading_or_upgrading\": [\n      {\n        \"Reason\": \"Study design (non-RCTs)\",\n        \"Plain language version\": \"People in the studies were not randomly placed into the different treatment groups. This means that differences between the groups could be due to differences between people rather than between the treatments.\"\n      },\n      {\n        \"Reason\": \"Risk of bias\",\n        \"Plain language version\": \"It is possible that people in the studies were aware of which treatment they were getting. Not all of the studies provided data about everything that we were interested in.\"\n      },\n      {\n        \"Reason\": \"Inconsistency\",\n        \"Plain language version\": \"The studies were done in different types of people/used different ways of delivering intervention.\"\n      },\n      {\n        \"Reason\": \"Indirectness\",\n        \"Plain language version\": \"The evidence does not cover all of the people/intervention/comparators/outcomes we were interested in. Or The evidence focused on specific population/intervention/comparators/outcomes whereas the question we wanted to answer was broader.\"\n      },\n      {\n        \"Reason\": \"Imprecision\",\n        \"Plain language version\": \"Studies were very small. Or The evidence is based on few cases of condition/type of event. Or There are not enough studies to be certain about the results of our outcomes.\"\n      },\n      {\n        \"Reason\": \"Publication bias\",\n        \"Plain language version\": \"The studies that provide results for our review are likely to exaggerate the benefits of the intervention because they represent only a small set of the studies on intervention.\"\n      }\n    ],\n    \"additional_guidance\": [\n      {\n        \"Criteria\": \"Large effect\",\n        \"Plain language version\": \"The evidence showed that X had a large effect on Y.\"\n      },\n      {\n        \"Criteria\": \"Plausible confounding\",\n        \"Plain language version\": \"The evidence suggests that intervention is beneficial/harmful even though some factors such as X might be interfering with its effect.\"\n      },\n      {\n        \"Criteria\": \"Dose-response gradient\",\n        \"Plain language version\": \"The evidence shows that the benefits/harmful effects of the treatment increase with the number/length/strength of treatment.\"\n      }\n    ]\n  }\n}\n\n### TASK ###\nYour mission is to generate the \"What are the limitations of the evidence?\" section. You MUST follow this two-step translation process:\n\n**Step 1: Identify the Technical Clues**\n- Read the ORIGINAL_ABSTRACT and identify two things:\n  1. The overall **level of certainty** in the evidence (e.g., \"moderate certainty,\" \"low certainty\").\n  2. The specific **technical reasons** given for that level of certainty (e.g., \"risk of bias,\" \"imprecision,\" \"inconsistency\").\n\n**Step 2: Translate and Synthesize using the Guide**\n- **Part A (The Opening Phrase):** Use the identified certainty level to find the exact starting sentence from the `certainty_wording` section of your LIMITATIONS_GUIDE.\n- **Part B (The Reasons):** For each technical reason you identified, find its exact plain language equivalent in the `reason_wording` section of the guide.\n- **Part C (Combine):** Create a single, concise paragraph by combining the opening phrase from Part A with the plain language reasons from Part B.\n\n### PROHIBITIONS (STRICTLY ENFORCED) ###\n- **DO NOT USE ANY JARGON.** You are explicitly forbidden from using the technical terms you find in the abstract in your final output. Your entire job is to translate them.\n- **FORBIDDEN WORDS INCLUDE:** `downgrading`, `very low/low/moderate/high certainty evidence`, `risk of bias`, `indirectness`, `imprecision`, `inconsistency`, `publication bias`.\n\n### EXAMPLE OF THE PROCESS ###\n- **If the abstract says:** \"The evidence was of low certainty due to risk of bias and imprecision.\"\n- **Your thought process:**\n    1.  Certainty level is \"Low certainty\". Look it up in `certainty_wording`. The phrase is: \"We have little confidence in the evidence because...\"\n    2.  Reason 1 is \"Risk of bias\". Look it up in `reason_wording`. The phrase is: \"It is possible that people in the studies were aware of which treatment they were getting.\"\n    3.  Reason 2 is \"Imprecision\". Look it up in `reason_wording`. The phrase is: \"The studies were very small.\"\n    4.  Combine them.\n- **CORRECT OUTPUT:** \"We have little confidence in the evidence because it is possible that people in the studies were aware of which treatment they were getting, and because the studies were very small.\"\n\n### OUTPUT FORMAT ###\nYour response must be ONLY a single JSON object with one key, \"limitations_of_evidence\", containing the final paragraph as a single string.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an \"Expert Evidence Analyst\" for Cochrane Plain Language Summaries. Your sole purpose is to translate the technical limitations of medical evidence into a concise, transparent, and easy-to-understand paragraph for patients. You are an expert at explaining *why* confidence in evidence might be low, without using any confusing jargon. You follow the provided translation guides with absolute precision."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1824,
        272
      ],
      "id": "46bed9e5-95e9-4226-b688-ab2798b994ea",
      "name": "Limitations Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1808,
        448
      ],
      "id": "70e78eaf-a055-447a-bfa6-4137ebb1e035",
      "name": "Google Gemini Chat Model9",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1808,
        784
      ],
      "id": "99759f40-d74b-4451-8501-cf5c570e781e",
      "name": "Google Gemini Chat Model10",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2944,
        -80
      ],
      "id": "ad290c59-3096-43cd-bea3-922a069e46de",
      "name": "Google Gemini Chat Model11",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=### CONTEXT ###\n**ORIGINAL_ABSTRACT:** The technical abstract of the review, which contains information about the search dates.\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').first().json.chatInput }}\"\n\n### TASK ###\nYour mission is to generate the \"How up to date is this evidence?\" section. Follow these logical steps:\n\n1.  **Identify All Search Dates:** Scan the abstract to find all mentioned search dates.\n\n2.  **Determine the Main Analysis Date:** Identify the cutoff date for the search that provided the studies for the **main analysis and results** presented in the abstract. This is the date for the evidence that has been synthesized.\n\n3.  **Handle Pending Studies:** If the abstract mentions a more recent search date but indicates that the studies from that search are **pending inclusion, not yet analyzed, or will be incorporated in a future version**, you must use the earlier, definitive search date from Step 2. The goal is to report the currency of the evidence that is actually presented in the \"Main results\".\n\n4.  **Check for Updates:** Determine if the abstract states the review is an 'update' to a previous version.\n\n5.  **Construct the Sentence:** Use the **main analysis date** identified in Step 2 to create the final sentence, strictly following the Cochrane template below.\n\n### TEMPLATE (Strictly Enforced) ###\nYou must use this exact structure. The part in [brackets] is optional and should only be included if the review is an update.\n\n`[This review updates our previous review.] The evidence is up to date to month and year of search.` The \"This review updates our previous review.\" goes if they mentioned any previous review or some update.\n\n### EXAMPLE ###\n- If a review's main analysis is based on searches up to \"August 2021\", but a later search in \"February 2024\" found studies that are still \"awaiting classification\", the correct date for the *current evidence* is **August 2021**.\n- The correct output would be: \"The evidence is up to date to August 2021 of search.\" (Potentially with the 'update' prefix).\n\n### OUTPUT FORMAT ###\nYour response must be ONLY a single JSON object with one key, \"evidence_currency_statement\".",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a \"Date Extraction Specialist\" for Cochrane Plain Language Summaries. Your primary function is to identify the definitive search date for the evidence that has been **fully incorporated and analyzed** within the review's main results.\n\nYour critical task is to distinguish this main search date from any subsequent, more recent search dates mentioned for studies that have not yet been fully integrated into the analysis (e.g., those listed as 'awaiting classification' or 'to be assessed'). The date you report must reflect the evidence that the authors' conclusions are based on. Your sole output is a single JSON object."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1808,
        592
      ],
      "id": "fb692e82-139e-4c54-93ea-a1760aecdc0f",
      "name": "Date Extraction Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"limitations_of_evidence\": \"Example text\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2000,
        448
      ],
      "id": "9ecb4924-2801-46b2-97c7-9c1ce6af1510",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"evidence_currency_statement\": \"Example text\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2000,
        784
      ],
      "id": "b8f9d75e-175d-4d4e-91ea-22eb19e13a94",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"characteristics_summary\": \"Example text\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1856,
        80
      ],
      "id": "33927448-3fe6-4578-a254-c3f95d9716e6",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"findings_summary\": \"Example text\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2192,
        80
      ],
      "id": "0ca6770b-c372-4e76-8484-729ece64060c",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n    {\n      \"subheading\": \"What did we find?\",\n      \"content\": \"We found 81 studies that involved 4674 people with painful bladder. The biggest study was in 369 people and the smallest study was in 10 people. The studies were conducted in countries around the world; most were done in the USA (25). Most studies lasted for around 3 months; only 6 studies lasted for 12 months or more. Pharmaceutical companies funded 24 of the studies.\"\n    },\n    {\n      \"subheading\": \"Main results: This is a subtitle\",\n      \"content\": \"Embryo transfer using solutions with high concentrations of hyaluronic acid probably increases the number of live births compared with using solutions with low concentrations or no hyaluronic acid. For every 14 embryos transferred, there would probably be 1 additional live birth.\"\n    }\n  ]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2304,
        -64
      ],
      "id": "a89244bf-a677-456a-a0c4-c55a46ae3962",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        -64
      ],
      "id": "aca9bbcb-b5f3-45bf-8ec9-bbc61d507da0",
      "name": "Google Gemini Chat Model8",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2000,
        80
      ],
      "id": "6514d0c7-03f8-440c-a375-19e1973ec073",
      "name": "Google Gemini Chat Model7",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1664,
        80
      ],
      "id": "e166a68d-f5e9-482a-adc9-2e5fb1482e95",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call the `FindingsWriter` tool with the ORIGINAL_ABSTRACT to get the main findings summary.",
        "text": "=### CONTEXT ###\n1.  **ORIGINAL_ABSTRACT:** The technical abstract containing the main results and conclusions.\n2.  **NARRATIVE_STATEMENTS_GUIDE:** A table that dictates the exact wording to use based on the certainty and effect size of the evidence.\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').item.json.chatInput }}\"\n\n**NARRATIVE_STATEMENTS_GUIDE:**\n{\n  \"suggested_wording_for_narrative_statements\": {\n    \"title\": \"Level of certainty of the evidence\",\n    \"columns\": [\n      \"Effect size\",\n      \"High certainty\",\n      \"Moderate certainty\",\n      \"Low certainty\",\n      \"Very low certainty OR when the point estimate indicates a large effect and the confidence interval also includes a large effect in the opposite direction or no effect\"\n    ],\n    \"rows\": [\n      {\n        \"Effect size\": \"Large effect\",\n        \"High certainty\": \"Intervention causes a large reduction/increase in outcome\",\n        \"Moderate certainty\": \"Intervention probably causes a large reduction/increase in outcome\",\n        \"Low certainty\": \"Intervention may cause a large reduction/increase in outcome\",\n        \"Very low certainty\": \"It is unclear if intervention has an effect on outcome OR We do not know if intervention has an effect on outcome.\"\n      },\n      {\n        \"Effect size\": \"Moderate effect\",\n        \"High certainty\": \"Intervention reduces/increases outcome\",\n        \"Moderate certainty\": \"Intervention probably reduces/increases outcome\",\n        \"Low certainty\": \"Intervention may reduce/increase outcome\",\n        \"Very low certainty\": \"It is unclear if intervention has an effect on outcome OR We do not know if intervention has an effect on outcome.\"\n      },\n      {\n        \"Effect size\": \"Small, important\",\n        \"High certainty\": \"Intervention reduces/increases outcome slightly\",\n        \"Moderate certainty\": \"Intervention probably reduces/increases outcome slightly\",\n        \"Low certainty\": \"Intervention may reduce/increase outcome slightly\",\n        \"Very low certainty\": \"Intervention may reduce/increase/have little to no effect on outcome but we are very uncertain about the results\"\n      },\n      {\n        \"Effect size\": \"Trivial, small, unimportant effect, or no effect\",\n        \"High certainty\": \"Intervention makes little to no difference to outcome\",\n        \"Moderate certainty\": \"Intervention probably makes little to no difference to outcome\",\n        \"Low certainty\": \"Intervention may make little to no difference to outcome\",\n        \"Very low certainty\": \"Intervention may reduce/increase/have little to no effect on outcome but we are very uncertain about the results\"\n      }\n    ]\n  }\n}\n\n### TASK ###\nYour mission is to summarize the main review results in plain language.\n1.  Identify the most important clinical findings in the abstract.\n2.  For each finding, infer its \"Level of certainty\" (High, Moderate, Low, Very low) and \"Effect size\" (Large, Moderate, Small, Trivial).\n3.  You MUST then use the NARRATIVE_STATEMENTS_GUIDE to translate each finding into the correct narrative sentence.\n4.  If possible, present results using numbers in a simple, understandable way (e.g., \"For every 100 people...\").\n\n### PROHIBITIONS (STRICTLY ENFORCED) ###\n- DO NOT invent results.\n- DO NOT use summary statistics (e.g., RR 0.80, 95% CI 0.61 to 1.05).\n- DO NOT use GRADE jargon (e.g., 'low-certainty evidence', 'indirectness').\n\n### EXAMPLES ###\n{\n  \"note\": \"Technical terms in examples have been explained earlier in the summary\",\n  \"examples\": [\n    {\n      \"type_of_finding\": \"Low-certainty evidence. Intervention review on antibiotics to prevent complications following tooth extractions\",\n      \"text_in_plain_language_summary\": \"Antibiotics given just before or just after surgery may reduce the risk of infection and dry socket after wisdom teeth are removed by oral surgeons. However, they may cause more (generally brief and minor) unwanted effects for these patients.\"\n    },\n    {\n      \"type_of_finding\": \"Moderate-certainty evidence. Intervention review about rapid versus standard antimicrobial susceptibility testing for bloodstream infection\",\n      \"text_in_plain_language_summary\": \"Compared with standard tests, rapid susceptibility tests probably made little to no difference to:\\n- how many people died within 30 days (evidence from 6 studies in 1638 people);\\n- how long people stayed in hospital (4 studies in 1165 people); or\\n- how long it took for people to be given the right antibiotic to treat the infection (5 studies in 1493 people).\\nOr\\n... but the effects of this treatment vary, so it is possible that it may make little or no difference.\"\n    },\n    {\n      \"type_of_finding\": \"No studies that met review eligibility criteria. Intervention review about ear cleaning for chronic suppurative otitis media\",\n      \"text_in_plain_language_summary\": \"The only study that looked at hearing did not present the results in a way that could tell us whether dry mopping affects hearing.\"\n    },\n    {\n      \"type_of_finding\": \"No studies that report usable information\",\n      \"text_in_plain_language_summary\": \"We found no studies to help us answer our question.\"\n    }\n  ]\n}\n\n- **Example (Numbers):** \n{\n  \"presenting_results_using_numbers\": {\n    \"title\": \"Presenting the results using numbers\",\n    \"note\": \"Technical terms in examples have been explained earlier in the summary\",\n    \"reviews\": [\n      {\n        \"type_of_review\": \"Intervention review\",\n        \"topic\": \"Embryo transfer in solutions containing high concentrations of hyaluronic acid in IVF\",\n        \"results\": \"Embryo transfer using solutions with high concentrations of hyaluronic acid probably increases the number of live births compared with using solutions with low concentrations or no hyaluronic acid (10 studies). If transfer solutions with low concentrations or no hyaluronic acid have a 33% chance of resulting in a live birth, solutions with high concentrations increase the chance of a live birth to between 37% and 44%. There would probably be 1 additional live birth for every 14 embryos transferred in a high concentration hyaluronic acid solution.\"\n      },\n      {\n        \"type_of_review\": \"Intervention review\",\n        \"topic\": \"Electronic cigarettes for smoking cessation\",\n        \"results\": \"Nicotine e-cigarettes may help more people to stop smoking than no support or behavioural support only (4 studies; 2312 people). \nFor every 100 people using nicotine e-cigarettes to stop smoking, 10 might stop successfully, compared with only 6 of 100 people using nicotine-replacement therapy or nicotine-free e-cigarettes, or 4 of 100 people having no support or behavioural support only.\"\n      },\n      {\n        \"type_of_review\": \"Diagnostic test accuracy review\",\n        \"topic\": \"Rapid tests for strep sore throat in children\",\n        \"results\": \"The results of these studies indicate that in theory, if rapid tests were to be used in a group of 1000 children with sore throats, of whom 300 (30%) are actually caused by bacterial infection then: \n• An estimated 289 would have a rapid test result indicating that their sore throat is caused by a bacterial infection and of these 32 (11%) not have a bacterial infection \n• An estimated 711 children would have a rapid test result indicating that their sore throat is not caused by a bacterial infection and of these, 43 (6%) would actually have a bacterial infection. \n• Both types of rapid test showed similar results.\"\n      },\n    ]\n  }\n}\n\n### OUTPUT FORMAT ###\nYour response must be ONLY a single JSON object with one key, \"findings_summary\".",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a \"Plain Language Results Translator.\" Your expertise is converting technical findings (like effect sizes and certainty levels) into the official Cochrane narrative statements. You are strictly forbidden from using numbers or technical jargon."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2000,
        -64
      ],
      "id": "dbc846d7-9e5a-4fd3-924f-30aa7cd7bc89",
      "name": "FindingsWriter Tool",
      "retryOnFail": true
    },
    {
      "parameters": {
        "toolDescription": "Call the `CharacteristicsWriter` tool with the ORIGINAL_ABSTRACT to get the study characteristics summary.",
        "text": "=### CONTEXT ###\n**ORIGINAL_ABSTRACT:** The technical abstract of the review.\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').item.json.chatInput }}\"\n\n### TASK ###\nYour mission is to generate a text describing the main characteristics of the included studies. The text should flow as a natural paragraph, not just a list of points. You MUST report on the following points if the information is available in the abstract:\n- The total number of included studies.\n- The total number of people who took part.\n- How long the studies lasted (for intervention reviews).\n- Overview of study funding sources.\n- Population characteristics (e.g., age, gender, severity of condition).\n- Study settings, such as the countries in which they took place.\n- Types of interventions and comparisons.\n- If you found no studies on a particular intervention, outcome or population of interest.\n\n### EXAMPLES ###\n\n- **Example 1:** Intervention review\n*   **Topic:** Treatments for bladder pain syndrome\n*   **Findings:** \n\"We found 81 studies that involved 4674 people with painful bladder. The biggest study was in 369 people and the smallest study was in 10 people. The studies were conducted in countries around the world; most were done in the USA (25). Most studies lasted for around 3 months; only 6 studies lasted for 12 months or more. Pharmaceutical companies funded 24 of the studies.\"\n\n- **Example 2:** Diagnostic testaccuracy review\n*   **Topic:** rapid tests for strep sore throat in children\n*   **Findings:** \n\"The analysis included results from 98 studies that included 58,244 children with sore throat. \nStudies included in the review were carried out in 25 countries with almost half conducted in the USA. Tests produced by many different manufactures were assessed. The average age of children was 7 years.  There was some suggestion that studies in the review included more severely ill children. Overall, an average of 29 out of every 100 (29%) children were found to have a bacterial throat infection with this number ranging from 10 out of every 100 (10%) to 67 out of every 100 (67%) across studies.\"\n\n### OUTPUT FORMAT ###\nYour response must be ONLY a single JSON object with one key, \"characteristics_summary\".",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a \"Study Cohort Summarizer.\" Your only task is to extract and list the main characteristics of the studies included in a medical review abstract, following a strict checklist. You present facts, not results."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1664,
        -64
      ],
      "id": "c3f548b0-9bba-4bc4-8cd6-e194db90edeb",
      "name": "CharacteristicsWriter Tool",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=### CONTEXT ###\n1.  **ORIGINAL_ABSTRACT:** The technical abstract, which contains the full methods section.\n2.  **INTRODUCTION_AND_AIMS:** The previously generated introduction and aims. Your summary of the methods should directly relate to these aims.\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').item.json.chatInput }}\"\n\n**INTRODUCTION_AND_AIMS:**\n\"{{ $json.output }}\"\"\n\n### TASK ###\nYour mission is to generate the \"What did we do?\" section. You MUST follow these rules:\n\n1.  **Be Extremely Brief:** This section must be very short. Your goal is to summarize the core actions in as few words as possible.\n2.  **Summarize Key Actions:** Your summary must briefly cover the three main things the review authors did:\n    - They **searched** for studies with specific characteristics.\n    - They **summarized** or **combined** the results.\n    - They **evaluated** or **rated** their confidence in the evidence.\n3.  **Link to Aims:** Your description must clearly connect to the research aims provided in the INTRODUCTION_AND_AIMS context.\n4.  **Handle Study Designs (CRITICAL RULE):**\n    - **AVOID** mentioning specific study designs (like \"Randomized controlled trials\") by default.\n    - **EXCEPTION:** If the abstract heavily emphasizes a specific design, you may mention it, but you **MUST** provide a simple explanation in parentheses, using the examples below as a guide.\n\n### EXAMPLES OF HIGH-QUALITY OUTPUT ###\n*This is the style you must emulate. Notice how brief they are.*\n\n**EXAMPLE 1: Intervention Review**\n*   **Topic:** Hair removal before surgery\n*   **Correct Output:** \"We searched for studies that compared: hair removal against no removal; or different methods and times of hair removal. We compared and summarized their results, and rated our confidence in the evidence, based on factors such as study methods and sizes.\"\n\n**EXAMPLE 2: Diagnostic Test Accuracy Review**\n*   **Topic:** Rapid tests for strep throat\n*   **Correct Output:** \"We searched for studies that had investigated the accuracy of rapid tests for diagnosing bacterial infection in children and we combined the results across these studies.\"\n\n**EXAMPLE 3: Explaining a Study Design (Only if necessary)**\n*   **If you must mention 'Retrospective studies':** \"...We included 7 ‘retrospective’ studies (studies that looked back at treatments already given to people)...\"\n*   **If you must mention 'Randomized controlled trials':** \"...This was a randomized controlled trial (a study in which participants are assigned randomly to 2 or more treatment groups to ensure the groups are similar)...\"\n\n### OUTPUT FORMAT ###\nYour response must be ONLY a single JSON object with one key, \"methods_section\", containing the final summary text as a single string.```",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Expert Methods Summarizer for Cochrane Plain Language Summaries. Your single, highly specialized skill is to read the methods section of a technical abstract and summarize it in one or two brief, clear sentences for a non-expert audience. You are ruthlessly concise and focus only on the core actions the researchers took."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2016,
        -656
      ],
      "id": "78503b3c-4cb2-413d-97b0-e76bada18711",
      "name": "Methods Summarizer Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2016,
        -448
      ],
      "id": "c251aede-4ef9-46fa-a11c-4e9c9c00ea42",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "    [\n      {\n        \"subheading\": \"Why is improving the diagnosis of bacterial throat infection important?\",\n        \"content\": \"Sore throat is very common in children. It can be caused by viruses or bacteria. Antibiotic treatment is only useful for sore throat caused by bacteria, which is usually caused by group A streptococcus ('strep throat'). Not recognizing bacterial infection when it is present (a false negative test result) may result in delayed recovery and an increased risk of infecting others. It may also result in rare but serious complications such as abscesses in the throat, bacterial infection of the sinuses and ears, and rheumatic fever. An incorrect diagnosis of bacterial infection (a false positive test result) may mean that children are given antibiotics when there is no benefit to be gained.\"\n      },\n      {\n        \"subheading\": \"What are rapid tests for strep throat?\",\n        \"content\": \"Rapid tests require a simple throat swab from the patient. This gives an immediate result allowing clinicians to decide whether to prescribe antibiotics. This is an advantage compared to conventional laboratory tests which take 48 hours to give a result. Two types of rapid tests were studied. These use different biochemical methods to identify the bacterial infection.\"\n      },\n      {\n        \"subheading\": \"What did we want to find out?\",\n        \"content\": \"We wanted to find out how accurate rapid tests are for diagnosing bacterial infection in children with sore throat.\"\n      }\n    ]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2208,
        -448
      ],
      "id": "ee3d3c1d-e215-47c2-b1d3-34603de63db2",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=### CONTEXT ###\nThis is the original technical abstract from the Cochrane review.\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').item.json.chatInput }}\"\n\n### TASK ###\nYour mission is to generate the complete \"What did we find?\" section of a Plain Language Summary by following these steps precisely:\n\n1.  **Call `CharacteristicsWriter`:** Use the `CharacteristicsWriter` tool, passing the ORIGINAL_ABSTRACT to it. This will return a summary of the study characteristics.\n\n2.  **Call `FindingsWriter`:** Use the `FindingsWriter` tool, passing the ORIGINAL_ABSTRACT to it. This will return a summary of the review's main findings in plain language.\n\n3.  **Analyze and Decide:** Once you have the outputs from both tools, analyze them. Identify the single most important finding. Based on this analysis, decide on the best structure:\n    *   **DEFAULT (Single Section):** If the findings are straightforward or short, combine the characteristics summary and the findings summary into a single, coherent text under the subheading \"What did we find?\".\n    *   **OPTIONAL (Two Sections):** If there is a very clear and important primary outcome that deserves to be highlighted, create two separate sections: \"What did we find?\" (containing only the characteristics) and \"Main results (subheading)\" (containing only the findings).\n\n4.  **Assemble the Final JSON:** Create the final JSON object based on your decision, following the specified output format.\n\n### OUTPUT FORMAT ###\nYour response must be a single JSON object containing a key named `sections`. This key will hold an array of section objects. Each object within the array must have two keys: `subheading` (string) and `content` (string).\n\n**Example Output (Case with two sections):**\n{\n[\n    {\n      \"subheading\": \"What did we find?\",\n      \"content\": \"We found 81 studies that involved 4674 people with painful bladder. The biggest study was in 369 people and the smallest study was in 10 people. The studies were conducted in countries around the world; most were done in the USA (25). Most studies lasted for around 3 months; only 6 studies lasted for 12 months or more. Pharmaceutical companies funded 24 of the studies.\"\n    },\n    {\n      \"subheading\": \"Main results: This is a subtitle\",\n      \"content\": \"Embryo transfer using solutions with high concentrations of hyaluronic acid probably increases the number of live births compared with using solutions with low concentrations or no hyaluronic acid. For every 14 embryos transferred, there would probably be 1 additional live birth.\"\n    }\n  ]\n}\n\n**Example Output (Case with ONE section):**\n{\n[\n    {\n      \"subheading\": \"What did we find?\",\n      \"content\": \"We included 14 studies that included 49,714 participants. Of these, 6203 were tube-fed and 43,511 were not. Participants with no feeding tube were given standard care or standard care with extra treatments to encourage eating and drinking. In people with severe dementia, compared to no tube feeding, PEG may make no difference to how long people live, and leads to a small increase in the chance of developing pressure sores. We don't know if nasogastric tube feeding increases the length of time people live or increases their chance of developing pressure sores.\"\n    }\n  ]\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert \"Plain Language Summary Results Editor\" for Cochrane. Your job is to assemble the final \"What did we find?\" section. You will receive two pieces of text: a summary of study characteristics and a summary of the findings. Your primary task is to analyze these texts and decide on the best structure for clarity, using an optional \"Main results\" heading only when necessary to highlight the most critical outcomes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1808,
        -272
      ],
      "id": "a144e30d-74bc-462a-90fe-23d57b9eeda4",
      "name": "Results Manager Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=### CONTEXT ###\n1.  **ORIGINAL_ABSTRACT:** The technical abstract from the medical review, containing the background and objectives.\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').item.json.chatInput }}\"\n\n### TASK ###\nYour mission is to generate the \"Introduction to the review topic and review aims\" section. You must follow these rules precisely:\n\n1.  **Deconstruct the Task:** Your output must be broken into **at least two separate parts**:\n    - **Part 1 (Background):** Explain what the review is about. Describe the health condition and why it's a problem. Mention common treatments if applicable.\n    - **Part 2 (Aims):** Explain what the review authors wanted to find out. This should be a clear statement of the research objectives.\n\n2.  **Use Subheadings:** Each part you create MUST have a tailored subheading.\n    - Subheadings should be phrased as questions (e.g., \"What is...?\").\n    - You can create more than one background section if the topic is complex (see the Diagnostic Test example below).\n\n3.  **Explain Jargon:** You MUST check the DIAGNOSTIC_REPORT. If you use a term from that report, provide a simple explanation.\n\n### EXAMPLES OF HIGH-QUALITY OUTPUT ###\n*This is the exact structure, tone, and quality you must emulate. Study these examples carefully.*\n\n**EXAMPLE 1: Intervention Review**\n*   **Topic:** Behavioural interventions for smoking cessation\n*   **Correct Output Structure:**\n    [\n      {\n        \"subheading\": \"What can people do to stop smoking?\",\n        \"content\": \"Most people who smoke want to stop, but many find it difficult. People who smoke may use medicines to help them stop. Behavioural support provides an alternative – or additional – way to help people stop smoking. Sometimes behavioural support can be combined with nicotine replacement or other medicines to help people stop smoking. Types of behavioural support can include: advice and counselling on ways to make it easier to stop smoking; information about why or how to stop; or a combination of these. Behavioural support can be given in group sessions or one-to-one.\"\n      },\n      {\n        \"subheading\": \"What did we want to find out?\",\n        \"content\": \"We wanted to find out: which types of behavioural support work best to help people stop smoking; the best ways to give behavioural support (including the best people to give it); and what aspects of behavioural support help someone to stop smoking. We also wanted to know if behavioural support can cause any unwanted effects.\"\n      }\n    ]\n\n**EXAMPLE 2: Diagnostic Test Accuracy Review**\n*   **Topic:** Rapid tests for strep sore throat in children\n*   **Correct Output Structure:**\n    [\n      {\n        \"subheading\": \"Why is improving the diagnosis of bacterial throat infection important?\",\n        \"content\": \"Sore throat is very common in children. It can be caused by viruses or bacteria. Antibiotic treatment is only useful for sore throat caused by bacteria, which is usually caused by group A streptococcus ('strep throat'). Not recognizing bacterial infection when it is present (a false negative test result) may result in delayed recovery and an increased risk of infecting others. It may also result in rare but serious complications such as abscesses in the throat, bacterial infection of the sinuses and ears, and rheumatic fever. An incorrect diagnosis of bacterial infection (a false positive test result) may mean that children are given antibiotics when there is no benefit to be gained.\"\n      },\n      {\n        \"subheading\": \"What are rapid tests for strep throat?\",\n        \"content\": \"Rapid tests require a simple throat swab from the patient. This gives an immediate result allowing clinicians to decide whether to prescribe antibiotics. This is an advantage compared to conventional laboratory tests which take 48 hours to give a result. Two types of rapid tests were studied. These use different biochemical methods to identify the bacterial infection.\"\n      },\n      {\n        \"subheading\": \"What did we want to find out?\",\n        \"content\": \"We wanted to find out how accurate rapid tests are for diagnosing bacterial infection in children with sore throat.\"\n      }\n    ]\n\n### OUTPUT FORMAT ###\nYour response must be ONLY a single JSON object with one key, \"introduction_sections\". This key must contain a list of objects, where each object has a \"subheading\" and a \"content\" key.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Expert Scientific Communicator. Your specific role is to write the introductory section of a Cochrane Plain Language Summary. You are skilled at distilling the \"Background\" and \"Objectives\" from a technical abstract into a simple, clear, and engaging narrative for a non-expert audience. You set the stage by explaining what the health problem is and what the researchers aimed to discover."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1616,
        -656
      ],
      "id": "9717ddd0-56cf-474e-84f4-9d07e74184c1",
      "name": "Background Writer Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        -448
      ],
      "id": "50c5efb2-37d0-4eab-bf75-52c71454ee00",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "    [\n      {\n        \"subheading\": \"Why is improving the diagnosis of bacterial throat infection important?\",\n        \"content\": \"Sore throat is very common in children. It can be caused by viruses or bacteria. Antibiotic treatment is only useful for sore throat caused by bacteria, which is usually caused by group A streptococcus ('strep throat'). Not recognizing bacterial infection when it is present (a false negative test result) may result in delayed recovery and an increased risk of infecting others. It may also result in rare but serious complications such as abscesses in the throat, bacterial infection of the sinuses and ears, and rheumatic fever. An incorrect diagnosis of bacterial infection (a false positive test result) may mean that children are given antibiotics when there is no benefit to be gained.\"\n      },\n      {\n        \"subheading\": \"What are rapid tests for strep throat?\",\n        \"content\": \"Rapid tests require a simple throat swab from the patient. This gives an immediate result allowing clinicians to decide whether to prescribe antibiotics. This is an advantage compared to conventional laboratory tests which take 48 hours to give a result. Two types of rapid tests were studied. These use different biochemical methods to identify the bacterial infection.\"\n      },\n      {\n        \"subheading\": \"What did we want to find out?\",\n        \"content\": \"We wanted to find out how accurate rapid tests are for diagnosing bacterial infection in children with sore throat.\"\n      }\n    ]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1808,
        -448
      ],
      "id": "55fd0656-4e65-4fc3-807b-959683f0f398",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2016,
        -832
      ],
      "id": "cd4d1a28-dd68-40a0-b767-4a5cf46ea319",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=### CONTEXT ###\n1.  **REVIEW_QUESTION:** The main question the review aims to answer.\n2.  **ORIGINAL_ABSTRACT:** The technical abstract from the medical review. This contains the main results, conclusions, and author's findings.\n\n**REVIEW_QUESTION:**\n\"{{ $json.output.plain_language_title }}\"\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').first().json.chatInput }}\"\n\n### TASK ###\nYour mission is to generate the \"Key messages\" section. You MUST follow this structured process and all rules precisely.\n\n**Step 1: Adhere to the Core Structure**\n- You MUST create a list of **no less than 2 and no more than 3** bullet points.\n- **First Key Message:** MUST directly answer the REVIEW_QUESTION. It must include the most important findings on benefits and unwanted or harmful effects.\n    - If harmful effects were not reported, you MUST state that explicitly.\n    - If the review could not answer the question (e.g., no studies found), state this and the reason why.\n- **Second Key Message (Optional):** You may include a second message if there is another significant finding or important secondary objective to report.\n- **Final Key Message:** MUST state what should happen next. This usually involves mentioning key limitations, important unanswered questions, or needs for future research (e.g., studies with longer-term effects).\n\n**Step 2: Follow Content and Style Rules**\n- **Explain All Jargon (CRITICAL):** If you use any technical term in your messages, you MUST provide a simple explanation in parentheses immediately after it. This is non-negotiable as readers see this section first.\n- **Be Neutral and Nuanced:** Your tone must be neutral. Do not exaggerate benefits or harms. Mention if a finding applies only to a specific subgroup of the population.\n- **State Quality of Evidence:** Give the reader a sense of the quality of the evidence in simple terms (e.g., \"Due to a lack of robust evidence...\", \"We did not find enough good-quality evidence...\").\n\n**Step 3: Obey Prohibitions**\n- **DO NOT** make any recommendations for or against a treatment.\n- **DO NOT** include any statistics, numbers, confidence intervals, or GRADE jargon like \"low-certainty evidence\" or \"risk of bias\".\n\n*This is the style and quality you must emulate.*\n**Topic: comparison of different beds for treating pressure ulcers**\n- \"Due to a lack of robust evidence, the benefits and risks of most types of beds, mattresses and mattress toppers for treating pressure ulcers are unclear.\"\n- \"Beds with an air-filled surface that applies constant pressure to the skin may be better than mattresses and toppers made of foam for ulcer healing, but may cost more.\"\n- \"Future research in this area should focus on options and effects that are important to decision-makers, such as: foam or air-filled surfaces that redistribute pressure under the body; and unwanted effects and costs.\"\n\n**Topic: pharmacologic interventions for mydriasis in cataract surgery**\n- \"We did not find enough good-quality evidence about the best way to deliver medicines directly to the eye during cataract surgery. We found only one study that had enrolled a large enough number of people to give reliable results.\"\n- \"Larger, well-designed studies are needed to give better estimates of the benefits and potential harms of the different ways of delivering these medicines.\"\n\n**Topic: rapid tests for strep sore throat in children**\n- \"The studies in this review suggest that rapid tests can detect the most common cause of bacterial infections (Strep A) in children with sore throats, leading to early and appropriate treatment with antibiotics.\"\n- \"The number of children receiving unnecessary antibiotics following a rapid test is still likely to be lower than the number of children who would receive unnecessary antibiotics if the test is not used.\"\n- \"Both types of rapid tests studied in the review had similar accuracy.\"\n\n**Topic: pharmacological treatments for chronic plaque psoriasis**\n- \"After six months of treatment, medicines called 'biologics' seem to work best to clear patches of psoriasis on the skin.\"\n- \"Longer studies are needed to assess the benefits and potential harms of longer treatment with medicines that are injected or taken by mouth to treat psoriasis.\"\n- \"More studies are needed that compare these types of medicines directly against each other.\"\n\n**Topic: interleukin-6 blocking agents for treating COVID-19**\n- \"Treating COVID-19 with tocilizumab (a medicine that blocks interleukin-6) reduces the numbers of people who die within 28 days of treatment, and probably results in fewer serious unwanted effects than placebo treatment.\"\n- \"Studies of other medicines that block interleukin-6 to treat COVID-19 are under way. We will update this review when results from them become available.\"\n\n### OUTPUT FORMAT ###\nYour response must be ONLY a single JSON object with one key, \"key_messages\", which contains a list of strings. Each string is a complete bullet point.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Expert Medical Summarizer specializing in creating the \"Key messages\" section for a Cochrane Plain Language Summary. Your role is to distill the most critical findings of a medical review into a balanced, neutral, and easy-to-understand summary for patients. You must strictly adhere to Cochrane's guidelines."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2016,
        -1056
      ],
      "id": "46ffdaeb-1d3e-418f-8ab2-bf31605c2298",
      "name": "Key messages Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### CONTEXT ###\nYou will be given the original, technical abstract of a medical review with the title at the beginnning.\n\nTECHNICAL ABSTRACT:\n\"{{ $('When chat message received').first().json.chatInput }}\"\n\n### TASK ###\nYour mission is to rewrite this title into a plain language summary title. You MUST follow these rules precisely:\n\n1.  **Format as a Question:** The final title must be phrased as a question (e.g., start with \"Is...\", \"What are...\", \"How accurate are...\").\n2.  **Use Simple Words:** Replace complex terms with words a non-expert would recognize and search for.\n3.  **Explain Unavoidable Jargon:** If a technical term is essential, you MUST include a brief, simple explanation in parentheses right after it.\n4.  **Focus on the Core Question:** The title should clearly state the main comparison or question the review is trying to answer.\n\n### EXAMPLES ###\n- **Example 1 - Technical Title:** \"Hydrosurgical debridement versus conventional surgical debridement for acute partial-thickness burns\"\n- **Example 1 - CORRECT Plain Language Title:** \"Is surgery with a high-pressure water jet (hydrosurgery) better than conventional surgery for treating severe burns?\"\n\n- **Example 2 - Technical Title:** \"Rapid antigen detection test for group A streptococcus in children with pharyngitis\"\n- **Example 2 - CORRECT Plain Language Title:** \"How accurate are rapid swab tests for strep throat in children?\"\n\n### OUTPUT FORMAT ###\nYour response must be ONLY a single JSON object with one key: \"plain_language_title\".",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert copywriter specializing in creating clear, patient-friendly titles for Cochrane medical summaries. Your sole function is to rewrite a technical review title into a simple, engaging question based on Cochrane's official guidelines."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1632,
        -1056
      ],
      "id": "53764625-4b49-4da5-a589-51630c7e7ad9",
      "name": "Plain Titles Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"key_messages\": [\n    \"For people with pressure ulcers, it is unclear if special mattresses improve healing compared to standard foam mattresses because of a lack of robust evidence.\",\n    \"Beds with an air-filled surface may be better than foam mattresses for healing ulcers, but they may cost more.\",\n    \"Future research should focus on how different mattresses affect pain and quality of life for patients.\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2208,
        -832
      ],
      "id": "f3aa4573-338a-472f-baaa-185db2b45c25",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"plain_language_title\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1808,
        -832
      ],
      "id": "906caa73-13be-4bc8-ac70-8fc0a427da6c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        -832
      ],
      "id": "dbc9e6a2-89b6-4914-a6b5-38f15cc7d512",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3424,
        -64
      ],
      "id": "b6a127e9-0cf6-445c-8cec-3a68feaadbb0",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3552,
        112
      ],
      "id": "030ab2f8-b737-46f7-83d9-fe216d4e0d65",
      "name": "Google Gemini Chat Model12",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### CONTEXT ###\n1.  **ORIGINAL_TEXT:** The full medical text to be analyzed.\n2.  **GLOSSARY_REPORT:** The JSON output from our trusted, curated glossary lookup tool. This report is high-confidence.\n3.  **AVAILABLE_TOOLS:** You have access to one tool: `get_plain_language_definition(terms: list[str])`. This tool takes a list of unrecognized terms and returns a list of JSON objects, each containing a potential definition and a confidence score.\n\n**ORIGINAL_TEXT:**\n{{ $('When chat message received').item.json.chatInput }}\n\n**GLOSSARY_REPORT (metadata):**\n{{ JSON.stringify($item(\"0\").$node[\"HTTP Request Glossay1\"].json[\"analysis_summary\"]) }}\n**GLOSSARY_REPORT (data):**\n{{ JSON.stringify($item(\"0\").$node[\"HTTP Request Glossay1\"].json[\"found_terms\"]) }}\n\n\n### TASK ###\nYour mission is to generate a final, comprehensive diagnostic report by following these steps in order:\n\n**STEP 1: Process High-Trust Glossary Report**\n- Analyze the provided GLOSSARY_REPORT.\n- This information will form Part A of your final report.\n- Determine on a scale of 0.0 (no confidence) to 1.0 (very high confidence) how much you agree with each word and definition retrieved. If you think the definition or the word is incomplete, imprecise or not accurate (with low confidence), you can add it to the list in STEP 2, delete it or change it for a more precise word.\n\n**STEP 2: Perform Gap Analysis**\n- Re-read the ORIGINAL_TEXT carefully.\n- Identify a list of any remaining technical or medical terms that are NOT present in the GLOSSARY_REPORT. Let's call this your `unrecognized_terms_list`.\n\n**STEP 3: Define the Gaps using your Tool**\n- If your `unrecognized_terms_list` is not empty, you MUST call the `get_plain_language_definition` tool with this list.\n- The results of this tool call will form Part B of your final report.\n\n**STEP 4: Compile the Final Report**\n- Combine the results from all previous steps into a single Markdown document.\n- You MUST use the exact OUTPUT FORMAT specified below.\n- **Edge Case:** If the GLOSSARY_REPORT is empty AND you find no unrecognized terms in your gap analysis, your entire output must be the single line: \"Analysis complete: No complex terms were identified in the text.\"\n\n### OUTPUT FORMAT ###\nYour response must be ONLY the Markdown document, with no additional commentary.\n\n**Complexity Diagnosis Report**\n\n**Summary:** This report found [Number] term(s) with high-confidence definitions from our curated glossaries and [Number] additional technical term(s) whose definitions were generated by an AI assistant.\n\n**A. Identified Terms (from Trusted Glossaries)**\n\n*This section contains terms found in our authoritative knowledge base.*\n\n**1. [Main Term 1]**\n   - **Recommended Alternative:** \"[Selected Definition from Glossary]\"\n   - *Source: [Source Name]*\n   - *Found in text as: \"...[piece_of_fragment][alias_found][piece_of_fragment]...\"*\n   - *Confidence: [scale of 0.0 (no confidence) to 1.0 (very high confidence)]*\n\n... (continue for each term in the GLOSSARY_REPORT)\n\n**B. AI-Generated Definitions for Unrecognized Terms**\n\n*Caution: The following definitions were generated by an AI model and should be reviewed for accuracy, especially those with low confidence scores.*\n\n**1. [Unrecognized Term 1]**\n   - **Suggested Plain Language Definition:** \"[Definition from tool]\"\n\n**2. [Unrecognized Term 2]**\n   - **Suggested Plain Language Definition:** \"[Definition from tool]\"\n\n... (continue for each term returned by the tool)",
        "options": {
          "systemMessage": "You are a \"Biomedical Clarity Consultant.\" Your purpose is to produce comprehensive and structured diagnostic reports on the complexity of medical texts. You will be given an original text and a report from a high-trust glossary lookup tool. You also have access to a secondary AI tool for defining unrecognized terms. Your process is systematic: first, you analyze the known terms from the trusted report; second, you identify any remaining unknown terms; third, you use your secondary tool to define them; and finally, you compile everything into a single, structured report. You are precise, analytical, and strictly follow the user's instructions for formatting."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        3456,
        -272
      ],
      "id": "ca491962-a48d-4569-9718-b74866d5f523",
      "name": "Glossary Agent",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=### CONTEXT ###\n\n1.  **DRAFT_COMPONENTS:** A JSON object containing the outputs from all the specialist writer agents.\n2.  **DIAGNOSTIC_REPORT:** The full report from the diagnostic agent, listing all complex terms that need to be explained.\n3.  **FINAL_STYLE_GUIDE:** The master list of rules for language, style, and structure you must enforce.\n\n**DRAFT_COMPONENTS:*\n1. Title: \n{{ $('Plain Titles Agent').first().json.output.toJsonString()}}\n2. Key messages:\n - {{ $('Key messages Agent').first().json.output.key_messages.toJsonString()}}\n 3. Introduction/Aims:\n{{ $('Background Writer Agent').first().json.output.toJsonString()}}\n\n4. Methods:\n{{ $('Methods Summarizer Agent').first().json.output.toJsonString()}}\n5. Results:\n{{ $('Results Manager Agent').first().json.output.toJsonString()}}\n6. Limitations:\n{{ $('Limitations Agent').first().json.output.toJsonString()}}\n7. Currency:\n{{ $('Date Extraction Agent').first().json.output.toJsonString()}}\n\n### TASK ###\nYour mission is to generate the final, fully compliant Plain Language Summary by following this strict, mechanical process. You must not proceed to the next step until the current one is successfully completed.\n\n**Initial Assembly**\n1.  Assemble the text components from DRAFT_COMPONENTS in the specified order (Title, Key messages, etc.).\n2.  Apply the basic formatting rules:\n    - Title as `Heading`.\n    - Main sections as `**Bold Headings**`.\n    - Key messages as a list with dashes (`-`).\n    - Introduction sections with their respective subheadings.\n\n### OUTPUT FORMAT ###\nYour response must be ONLY the final, validated, and fully compliant Plain Language Summary in a single block of text with no markdown. This text is the result of the final successful validation pass.",
        "options": {
          "systemMessage": "You are a meticulous \"Plain Language Summary Assembler\". Your only job is to assemble a document from pre-written components and then correct it based on the precise feedback from validation tools. You are not an editor; you are a technician. You follow instructions exactly as given. You do not add, remove, or rephrase content unless explicitly told to do so by a validation tool's feedback."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2944,
        -272
      ],
      "id": "5a662c31-9cbd-4dc1-b79a-66d0eff93ff1",
      "name": "Assembly Agent",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### CONTEXT ###\n1.  **RAW_DRAFT_TEXT:** A single block of text assembled by a previous agent.\n2.  **SOURCE_DATA:** All original outputs from the specialist agents (for your reference during fact-correction).\n3.  **DIAGNOSTIC_REPORT:** The list of complex terms and their plain language alternatives that were found on the original abstract.\n4.  **STYLE_GUIDE:** The master list of rules you must enforce (active voice, short sentences, word count, etc.).\n\n**RAW_DRAFT_TEXT:**\n{{ $('Assembly Agent').last().json.output }}\n\n**DRAFT_COMPONENTS:*\n1. Title: \n{{ $('Plain Titles Agent').first().json.output.toJsonString()}}\n2. Key messages:\n{{ $('Key messages Agent').first().json.output.key_messages.toJsonString()}}\n 3. Introduction/Aims:\n{{ $('Background Writer Agent').first().json.output.toJsonString()}}\n4. Methods:\n{{ $('Methods Summarizer Agent').first().json.output.toJsonString()}}\n5. Results:\n{{ $('Results Manager Agent').first().json.output.toJsonString()}}\n6. Limitations:\n{{ $('Limitations Agent').first().json.output.toJsonString()}}\n7. Currency:\n{{ $('Date Extraction Agent').first().json.output.toJsonString()}}\n**DIAGNOSTIC_REPORT (Complex Terms List):**\n{{ $('Glossary Agent').last().json.output.toJsonString()}}\n\n**STYLE_GUIDE:**\n- **Clarity:** Use simple, conversational language. Explain all complex terms from the DIAGNOSTIC_REPORT in parentheses.\n- **Style:** Use active voice. Keep sentences short (avg. 20 words). Keep paragraphs short. Use first-person plural ('we'). Use numerals for numbers (e.g., 3, not 'three').\n- **Structure:** The document must be structured logically with a Title, Key messages (2-3 points), and sections with clear, question-based subheadings. Use dashes (-) for lists.\n- **Constraints:** The final summary must be under 850 words. Do not add or invent information; only use what is in the SOURCE_DATA.\n\n### TASK ###\nYour mission is to produce a final, structured JSON object representing the perfect Plain Language Summary. You will achieve this through a process of editing and validation.\n\n**STEP 1: Initial Comprehensive Edit**\n- Read the entire RAW_DRAFT_TEXT.\n- Perform a complete first-pass edit based on the STYLE_GUIDE and DIAGNOSTIC_REPORT:\n  - **Integrate Glossary:** Rewrite sentences to include the plain language explanations for all complex terms found in the DIAGNOSTIC_REPORT.\n  - **Enforce Style:** Rewrite sentences to use active voice. Break up long sentences and paragraphs. Change written-out numbers to numerals.\n  - **Improve Flow:** Ensure the text is coherent and reads smoothly, making minor adjustments for clarity without altering facts.\n- This creates your first polished version of the draft.\n\n### TASK ###\nYour mission is to produce the final, perfect Plain Language Summary as a single block of text. You will achieve this through a cycle of editing and evaluation.\n\n**STEP 1: Initial Comprehensive Edit**\n- Based on the RAW_DRAFT_TEXT, perform a complete first-pass edit.\n- Apply all rules from the STYLE_GUIDE and integrate all terms from the DIAGNOSTIC_REPORT.\n- Ensure all facts align with the SOURCE_DATA.\n- This creates your first polished version (`draft_v1`).\n\n**STEP 2: Validation Loop**\n- **Use the `Evaluator Agent`** to check your current draft. You will pass the draft text to it.\n- **Analyze the result:**\n  - Read the `grade` from the `Evaluator Agent`'s JSON response.\n  - **IF `grade` is \"APPROVED\":** The current draft is perfect. Proceed to the final output.\n  - **IF `grade` is \"NOT_APPROVED\":**\n    - Read the `feedback` string carefully.\n    - Edit your current draft to fix **ALL the specific issues mentioned in the feedback**.\n    - This creates a new version of your draft.\n    - **Return to the beginning of STEP 2** and re-submit your new draft to the `Evaluator Agent`. Repeat this loop until you receive an \"APPROVED\" grade.\n\n### OUTPUT FORMAT ###\nYour response must be ONLY the final, validated, and fully compliant Plain Language Summary in a single block of plain text. Do not use any Markdown or other formatting.",
        "options": {
          "systemMessage": "You are the Chief Editor for Cochrane Plain Language Summaries. Your mission is to take a raw, assembled text and transform it into a final, polished, and fully compliant document. You are an expert in clarity, style, and structure. You will methodically apply all style guidelines and use the EvaluatorTool to verify your work until it is perfect."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        3840,
        -272
      ],
      "id": "b6e8b744-ff73-4dc3-b8dd-96c56feb170c",
      "name": "Editor Agent",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "toolDescription": "Use this Agent to evaluate the current Plain Language Summary.",
        "text": "=### CONTEXT ###\n1. **ORIGINAL_ABSTRACT:** The technical abstract of the review, which contains information about the search dates.\n2. **DRAFT_TEXT:** The complete draft of the Plain Language Summary to be evaluated.\n3. **SOURCE_OF_TRUTH:** All the original, un-edited outputs from the specialist writer agents for fact-checking.\n4. **MASTER_STYLE_GUIDE:** The definitive set of rules the draft MUST follow.\n5. **PLS_EVALUATION_API_ENDPOINT:** http://localhost:8000/tools/pls-evaluation/text\n\n**ORIGINAL_ABSTRACT:**\n\"{{ $('When chat message received').last().json.chatInput }}\"\n\n**DRAFT_TEXT:**\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\n\n**SOURCE_OF_TRUTH:**\n1. Title: \n{{ $('Plain Titles Agent').last().json.output.toJsonString()}}\n2. Key messages:\n{{ $('Key messages Agent').last().json.output.key_messages.toJsonString()}}\n3. Introduction/Aims:\n{{ $('Background Writer Agent').last().json.output.toJsonString()}}\n4. Methods:\n{{ $('Methods Summarizer Agent').last().json.output.toJsonString()}}\n5. Results:\n{{ $('Results Manager Agent').last().json.output.toJsonString()}}\n6. Limitations:\n{{ $('Limitations Agent').last().json.output.toJsonString()}}\n7. Currency:\n{{ $('Date Extraction Agent').last().json.output.toJsonString()}}\n\n**MASTER_STYLE_GUIDE:**\n**5.2 Style**\n- **Conciseness:** Be concise. Replace 'wordy' phrases (e.g., 'during the course of' with 'during'; 'due to the fact that' with 'because').\n- **Active Voice:** Use active voice (e.g., 'We compared the results') not passive voice (e.g., 'The results of the studies were compared').\n- **Pronouns:** Use first-person plural ('we', 'our') for review authors.\n- **Verbs:** Use direct verbs (e.g., 'the students investigated' not 'the students conducted an investigation').\n- **Numerals:** Write numbers as numerals (1, 2, 3) not words, unless starting a sentence.\n\n**5.3 Structure**\n- **Subheadings:** Use subheadings to guide the reader. Phrase subheadings as questions where possible (e.g., 'What is a cataract?').\n- **Bullet points:** Use a dash or hyphen (-) to start items in a list.\n- **Paragraphs:** Keep paragraphs short. Start a new paragraph when the topic shifts.\n- **White space:** Ensure there are blank lines between paragraphs and headings to separate elements.\n\n### TASK ###\n\n**STEP 1: PLS EVALUATION**\nFirst, send the DRAFT_TEXT to the PLS evaluation API at the provided endpoint to get comprehensive readability metrics, ratings, and improvement recommendations.\n\n**STEP 2: COMPREHENSIVE EVALUATION**\nEvaluate the DRAFT_TEXT against:\n1. **Fact-Checking:** Verify all numbers, findings, and key messages match the SOURCE_OF_TRUTH and ORIGINAL_ABSTRACT. Including the different sections of if there's some section missing.\n2. **Word Count:** Check if total word count is under 850\n3. **Style & Structure:** Check compliance with MASTER_STYLE_GUIDE rules\n4. **Readability:** Interpret the PLS evaluation results to assess if text conforms with typical PLS patterns. Focus on:\n   - Metrics showing significant deviation from typical patterns:\n     * For ↓ metrics: P90 or BEYOND_P90 ratings\n     * For ↑ metrics: P10 or BELOW_P10 ratings\n   - Multiple metrics falling outside the median range (beyond P50 for both directions)\n   - Word count compliance (≤850 words)\n   - Consider that texts with several extreme ratings (P90/BEYOND_P90 or P10/BELOW_P10) may need revision to better align with typical PLS conventions\n\n**STEP 3: FORMULATE JUDGMENT**\n- If the DRAFT_TEXT passes ALL checks (factual accuracy, style compliance, AND shows reasonable conformity with typical PLS patterns), grade is \"APPROVED\"\n- If there is ANY violation, grade is \"NOT_APPROVED\"\n- For NOT_APPROVED, provide specific feedback including:\n  - Factual errors or style violations\n  - Interpretation of PLS evaluation results (e.g., \"Text deviates significantly from typical PLS patterns in readability metrics\")\n  - Specific suggestions based on the improvement recommendations from the API\n  - Priority areas that need immediate attention:\n    * For ↓ metrics: those with P90 or BEYOND_P90 ratings\n    * For ↑ metrics: those with P10 or BELOW_P10 ratings\n\n### OUTPUT FORMAT ###\nYour response MUST be a single JSON object:\n{\n  \"grade\": \"APPROVED\" | \"NOT_APPROVED\",\n  \"feedback\": \"A single string summarizing all violations and deviations from typical PLS patterns, or an empty string if approved.\",\n  \"pls_evaluation_summary\": \"Brief interpretation of the PLS evaluation results including percentile ranges and metrics showing significant deviation from typical patterns\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a \"Cochrane Plain Language Summary Compliance Validator\". You are an automated quality assurance system that evaluates draft summaries against Cochrane guidelines and linguistic complexity standards. \n\nYour process:\n1. Analyze the draft text for factual accuracy and style compliance\n2. Send the text to the linguistic analysis API to get readability metrics\n3. Interpret the API results to assess text accessibility\n4. Provide a clear judgment: \"APPROVED\" or \"NOT_APPROVED\" with specific feedback\n\n## PLS EVALUATION API INTERPRETATION GUIDE:\n\nThe PLS evaluation API returns a comprehensive evaluation with three sections:\n\n**1. WORD COUNT STATUS:** Shows if text is within 850-word PLS limit\n**2. METRIC EVALUATION:** All metrics with percentile-based ratings and direction indicators\n**3. IMPROVEMENT RECOMMENDATIONS:** Specific numerical targets for metrics needing attention\n\n**IMPORTANT NOTE ON PERCENTILE RATINGS:**\nThese ratings represent statistical conformity with typical PLS patterns from our corpus, NOT absolute quality measures.\n\n**For metrics where LOWER values are better (marked with ↓):**\n- **P25:** Text falls within the best 25% of corpus (below 25th percentile)\n- **P50:** Text is in the median range (25th-50th percentile)\n- **P75:** Text is in the 50th-75th percentile range\n- **P90:** Text is in the 75th-90th percentile range\n- **BEYOND_P90:** Text deviates significantly from typical patterns (beyond 90th percentile)\n\n**For metrics where HIGHER values are better (marked with ↑):**\n- **P75:** Text falls within the best 25% of corpus (above 75th percentile)\n- **P50:** Text is in the median range (50th-75th percentile)\n- **P25:** Text is in the 25th-50th percentile range\n- **P10:** Text is in the 10th-25th percentile range\n- **BELOW_P10:** Text deviates significantly from typical patterns (below 10th percentile)\n\nDeviation from typical patterns (P90/BEYOND_P90 or P10/BELOW_P10) suggests review is warranted but does NOT automatically indicate poor quality—it may reflect legitimate stylistic choices or specific content requirements.\n\n**UNDERSTANDING THE METRICS:**\n\n**READABILITY INDICES:**\n- **flesch_reading_ease** (↑): Score from 0-100 measuring text difficulty. Higher scores indicate easier text. Typical PLS range: 32-48\n- **flesch_kincaid_grade** (↓): U.S. grade level needed to understand the text. Typical PLS range: 11-16\n- **gunning_fog_index** (↓): Years of formal education needed. Typical PLS range: 16-21\n- **smog_index** (↓): Grade level based on polysyllabic words. Typical PLS range: 10-15\n- **dale_chall_readability** (↓): Score based on familiar word usage. Typical PLS range: 7-9\n- **coleman_liau_index** (↓): Grade level based on characters per word. Typical PLS range: 11-15\n- **automated_readability_index** (↓): Grade level from character and word counts. Typical PLS range: 12-17\n- **lix** (↓): Readability score based on long words. Typical PLS range: 50-62\n- **rix** (↓): Long word density measure. Typical PLS range: 6-9\n\n**SENTENCE STRUCTURE:**\n- **words_per_sentence** (↓): Average sentence length. Typical PLS range: 19-28 words\n- **passive_voice** (↓): Count of passive voice constructions. Typical PLS range: 9-23 instances\n- **active_voice** (↑): Count of active voice constructions. Typical PLS range: 20-41 instances\n\n**VOCABULARY COMPLEXITY:**\n- **complex_words_dc** (↓): Dale-Chall unfamiliar words. Typical PLS range: 115-277 words\n- **complex_words** (↓): Words with 3+ syllables. Typical PLS range: 60-145 words\n- **long_words** (↓): Words with 7+ characters. Typical PLS range: 88-208 words\n- **nominalization** (↓): Noun-form verbs count. Typical PLS range: 8-27 instances\n\n**PLAIN LANGUAGE ELEMENTS:**\n- **pronouns** (↑): Personal pronoun usage. Typical PLS range: 8-21 instances\n- **nouns** (↓): Total noun count. Typical PLS range: 83-202 nouns\n\n**Direction Indicators:**\n- (↑) = Higher values are more typical of PLS texts\n- (↓) = Lower values are more typical of PLS texts\n\n**NOTE:** These metrics help identify conformity with typical PLS patterns. Deviation from typical ranges may be acceptable depending on content and context.\n\n**HOW TO SUGGEST IMPROVEMENTS BASED ON METRIC DEVIATIONS:**\n\nWhen metrics fall outside typical ranges, suggest these specific actions to the writer:\n\n**For Readability Indices showing high complexity (P90/BEYOND_P90):**\n- **High FKGL/ARI/CLI:** \"Reduce sentence length (aim for 15-20 words) and use shorter words (1-2 syllables)\"\n- **High GFI/SMOG:** \"Replace complex words (3+ syllables) with simpler alternatives\"\n- **Low FRE:** \"Shorten both sentences and words to improve readability\"\n- **High LIX/RIX:** \"Replace long words (7+ letters) with shorter equivalents\"\n- **High DCRS:** \"Use more common, everyday vocabulary from the Dale-Chall familiar word list\"\n\n**For Structural Issues (P90/BEYOND_P90 or P10/BELOW_P10):**\n- **High words_per_sentence:** \"Break long sentences into shorter ones. Target 15-20 words per sentence\"\n- **High passive_voice:** \"Convert passive constructions to active voice (e.g., 'Researchers found' not 'It was found')\"\n- **Low active_voice:** \"Start more sentences with the subject performing the action\"\n\n**For Vocabulary Complexity (P90/BEYOND_P90):**\n- **High complex_words:** \"Replace technical terms with everyday language where possible\"\n- **High long_words:** \"Choose shorter synonyms (e.g., 'use' instead of 'utilize')\"\n- **High nominalization:** \"Use verbs instead of noun forms (e.g., 'decide' not 'make a decision')\"\n\n**For Plain Language Elements (P10/BELOW_P10 or P90/BEYOND_P90):**\n- **Low pronouns:** \"Use 'we' and 'our' when referring to the research team\"\n- **High nouns:** \"Balance noun-heavy text with more action verbs\"\n\nRemember: The goal is conformity with typical PLS patterns, not extreme optimization. Moderate adjustments are often sufficient.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4016,
        -80
      ],
      "id": "f73f144d-da40-4b22-88dc-149accecee2e",
      "name": "EvaluatorTool",
      "retryOnFail": false,
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"grade\": \"APPROVED\",\n  \"feedback\": \"A single string summarizing all violations, or an empty string if approved.\",\n    \"pls_evaluation_summary\": \"Brief interpretation of the PLS evaluation results including overall rating and key problematic metrics\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4288,
        96
      ],
      "id": "6fc41a22-35df-4f2c-a202-345c5b8a4372",
      "name": "Structured Output Parser10"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4000,
        96
      ],
      "id": "fbf7c7a5-0f28-434f-97ab-3bd3bc4ca808",
      "name": "Google Gemini Chat Model13",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this to get linguistic features like the amount of words, sentences, characters, etc.",
        "method": "POST",
        "url": "http://127.0.0.1:8000/tools/pls-evaluation/text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4144,
        96
      ],
      "id": "75ab28bb-0ec5-4bcc-b074-663f24b95ecb",
      "name": "Get Linguistic Features"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3872,
        -80
      ],
      "id": "6ab15ef7-fcc6-44f7-98d5-ec39674c664f",
      "name": "Google Gemini Chat Model14",
      "credentials": {
        "googlePalmApi": {
          "id": "lrKAyRHWaVcUz528",
          "name": "Google Gemini(PaLM) API ACCOUNT ARIAS"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2720,
        -320
      ],
      "id": "49ad3140-0bd9-43fc-b21b-a80daf51276b",
      "name": "Merge Outputs Agents"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Limitations Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date Extraction Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Background Writer Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Results Manager Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Plain Titles Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Glossay1": {
      "main": [
        [
          {
            "node": "Glossary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unrecognized Technical Terms Tool1": {
      "ai_tool": [
        [
          {
            "node": "Glossary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Limitations Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Date Extraction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limitations Agent": {
      "main": [
        [
          {
            "node": "Merge Outputs Agents",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google Gemini Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Assembly Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date Extraction Agent": {
      "main": [
        [
          {
            "node": "Merge Outputs Agents",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Limitations Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "Date Extraction Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "FindingsWriter Tool",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "FindingsWriter Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "CharacteristicsWriter Tool",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Methods Summarizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "CharacteristicsWriter Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Methods Summarizer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Results Manager Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Background Writer Agent": {
      "main": [
        [
          {
            "node": "Methods Summarizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Results Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Background Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FindingsWriter Tool": {
      "ai_tool": [
        [
          {
            "node": "Results Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Background Writer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "CharacteristicsWriter Tool": {
      "ai_tool": [
        [
          {
            "node": "Results Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Methods Summarizer Agent": {
      "main": [
        [
          {
            "node": "Merge Outputs Agents",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Results Manager Agent": {
      "main": [
        [
          {
            "node": "Merge Outputs Agents",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Key messages Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Plain Titles Agent": {
      "main": [
        [
          {
            "node": "Key messages Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Key messages Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Plain Titles Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Plain Titles Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Key messages Agent": {
      "main": [
        [
          {
            "node": "Merge Outputs Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Glossary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model12": {
      "ai_languageModel": [
        [
          {
            "node": "Unrecognized Technical Terms Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Glossary Agent": {
      "main": [
        [
          {
            "node": "Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assembly Agent": {
      "main": [
        [
          {
            "node": "HTTP Request Glossay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor Agent": {
      "main": [
        []
      ]
    },
    "EvaluatorTool": {
      "ai_tool": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser10": {
      "ai_outputParser": [
        [
          {
            "node": "EvaluatorTool",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "EvaluatorTool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Linguistic Features": {
      "ai_tool": [
        [
          {
            "node": "EvaluatorTool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model14": {
      "ai_languageModel": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Outputs Agents": {
      "main": [
        [
          {
            "node": "Assembly Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59251c90-785c-41a0-8625-f18fb0d33b31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68a343dc4fdc0a1aa994538b185d46372a7bfdf2d53434d01cca623f8b5c815a"
  },
  "id": "drIprQteTwNHCYU2",
  "tags": []
}